# Задание 1

1) Импортируйте библиотеки pandas и numpy.

2) Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn.

3) Создайте датафреймы X и y из этих данных.

4) Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

5) Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

6) Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

7) Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [4]:
import warnings

warnings.filterwarnings('ignore')

In [5]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston

boston = load_boston()

In [6]:
X = pd.DataFrame(boston['data'], columns=boston['feature_names'])
y = pd.DataFrame(boston['target'], columns=['price'])

In [7]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [8]:
y

     price
0     24.0
1     21.6
2     34.7
3     33.4
4     36.2
..     ...
501   22.4
502   20.6
503   23.9
504   22.0
505   11.9

[506 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [10]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

In [11]:
lr.fit(X_train, y_train)

LinearRegression()

In [12]:
y_predict = lr.predict(X_test)
pred_info = pd.DataFrame({'Predict_price': y_predict.flatten(), 'Test_price': y_test['price']})
pred_info['Error'] = pred_info.Test_price - pred_info.Predict_price
pred_info.head()

     Predict_price  Test_price     Error
173      28.648960        23.6 -5.048960
274      36.495014        32.4 -4.095014
491      15.411193        13.6 -1.811193
72       25.403213        22.8 -2.603213
452      18.855280        16.1 -2.755280

In [13]:
from sklearn.metrics import r2_score

R2 = r2_score(y_test, y_predict)
R2

0.7112260057484925

# Задание 2

1) Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.

2) Сделайте агрумент n_estimators равным 1000, max_depth должен быть равен 12 и random_state сделайте равным 42.

3) Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression, но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0], чтобы получить из датафрейма одномерный массив Numpy, так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

4) Сделайте предсказание на тестовых данных и посчитайте R2.

5) Сравните с результатом из предыдущего задания.

6) Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [14]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [15]:
model.fit(X_train, y_train.values[:,0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [16]:
y_predict_rf = model.predict(X_test)
R2 = r2_score(y_test, y_predict_rf)
R2

0.87472606157312

In [17]:
pred_fr_info = pd.DataFrame({'Predict_price': y_predict_rf.flatten(), 'Test_price': y_test['price']})
pred_fr_info['Error'] = pred_fr_info.Test_price - pred_fr_info.Predict_price
pred_fr_info.head()

     Predict_price  Test_price     Error
173      22.806412        23.6  0.793588
274      31.131464        32.4  1.268536
491      16.339125        13.6 -2.739125
72       23.810726        22.8 -1.010726
452      17.139521        16.1 -1.039521

модель RandomForestRegressor работает лучше:
1) характеристика r2_score выше

2) по таблице визуально можно определить что размер ошибки значительно меньше чем у первой модели

# *Задание 3

1) Вызовите документацию для класса RandomForestRegressor

2) найдите информацию об атрибуте feature_importances_.

3) С помощью этого атрибута найдите сумму всех показателей важности

4) установите, какие два признака показывают наибольшую важность.

In [18]:
?RandomForestRegressor

In [22]:
model.feature_importances_.sum()

1.0

In [42]:
model_feature = pd.DataFrame({'feature_name': boston['feature_names'], 'feature_importance': model.feature_importances_})
model_feature.nlargest(2, 'feature_importance')

   feature_name  feature_importance
12        LSTAT            0.415847
5            RM            0.402682

признаки LSTAT и RM показывают наибольшую важность - их значения feature_importance самые большие.